@charset "utf-8";

#map-canvas {
    width: 700px;
    height: 600px;
}
.wrong {
    color: red;
}
.display-inline {
    display: inline;
}
#coordinates {
    margin-top: 30px;
    margin-bottom: 15px;
}
.field {
    margin-top: 5px;
}
#move-selector img {
    cursor: pointer;
}